<% provide(:title, 'Star') %>
<div id="main">

<h1>Star Lists</h1>

<div>
    <h2 class="style1">Direct Star Lists</h2>

    <% @count = 0 %>
    <% @t_direct_messages.each do |t_direct_message| %>

    <p class="style21"><%= @count += 1 %></p>

    <p class="style22"><%= t_direct_message.name%></p>

    <p class="style23"><%= t_direct_message.created_at.strftime("%F") %>/<%= t_direct_message.created_at.strftime("%I:%M%p") %></p>

    <p class="style24"></p> 
            
    <%= link_to "",  "", class:'fas fa-star'%>
            
    <p class="style3"> -->  <%= t_direct_message.directmsg%></p>
    <hr>
    <% end %>

</div>

<div>
        <h2 class="style1">Direct Threads Star Lists</h2>

        <% @count = 0 %>
        <% @t_direct_threads.each do |t_direct_thread| %>

            <p class="style21"><%= @count += 1 %></p>

            <p class="style22"><%= t_direct_thread.name%></p>

            <p class="style23"><%= t_direct_thread.created_at.strftime("%F") %>/<%= t_direct_thread.created_at.strftime(" %I:%M%p") %></p>

            <p class="style24"></p> 
            
            <%= link_to "",  "", class:'fas fa-star'%>

            <p class="style3"> -->  <%= t_direct_thread.directthreadmsg%></p>
        <hr>
    <% end %>

</div>

<div>
    <h2 class="style1">Group Star Lists</h2>

    <% @count = 0 %>
    <% @t_group_messages.each do |t_group_message| %>

    <h4 class="style2"><%= t_group_message.channel_name %></h4>

    <p class="style21"><%= @count += 1 %></p>

    <p class="style22"><%= t_group_message.name%></p>
    
    <p class="style23"><%= t_group_message.created_at.strftime("%F") %>/<%= t_group_message.created_at.strftime("%I:%M%p") %></p>

    <p class="style24"></p> 
            
    <%= link_to "",  "", class:'fas fa-star'%>
            
    <p class="style3"> -->  <%= t_group_message.groupmsg%></p>
    <hr>
    <% end %>

</div>

<div>
    <h2 class="style1">Group Thread Star Lists</h2>

    <% @count = 0 %>
    <% @t_group_threads.each do |t_group_thread| %>

    <h4 class="style2"><%= t_group_thread.channel_name%></h4>

    <p class="style21"><%= @count += 1 %></p>

    <p class="style22"><%= t_group_thread.name%></p>
    
    <p class="style23"><%= t_group_thread.created_at.strftime("%F") %>/<%= t_group_thread.created_at.strftime("%I:%M%p") %></p>

    <p class="style24"></p> 
            
    <%= link_to "",  "", class:'fas fa-star'%>
            
    <p class="style3"> -->  <%= t_group_thread.groupthreadmsg%></p>
    <hr>
    <% end %>

</div>

</div>
    

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>