
<div id="main">
<%= render 'group_show/groupmsglists' %>
<div class="textbox">
    <%= form_for(:session, url: groupmsg_path) do |f| %>
    <%= f.text_field :message, class: 'form-control' %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
</div>

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>

