<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<nav class="navbar justify-content-between dropright">
	<div class="btn-group dropright list-group nav">
		<a href="#" class="wsp dropdown-toggle  list-group-item list-group-item-action" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
		<%= @m_workspace.workspace_name %>
		</a>
		<span class="cc list-group-item list-group-item-action "><%= @m_user.name %></span></span>
		<div class="dp dropdown-menu box">
			<!-- Dropdown menu links -->
			<ul class=" sbox list-unstyled text-center list-group">
				<li>
					<a class="list-group-item list-group-item-action" href="#">メンバーを招待する</a>
				</li>
				<li>
					<a class="list-group-item list-group-item-action" href="#">プロフィール&アカウント</a>
				</li>
				<li>
					<a class="list-group-item list-group-item-action" href="#">メンバ管理</a>
				</li>
				<li>
					<a class="list-group-item list-group-item-action" tabindex="-1" href="#">サインアウト</a>
				</li>
			</ul>
		</div>
	</div>
	
<div class="wrapper">
	<div class="row">
		<div class="col-sm-3">
			<nav id="sidebar">
				<ul class="list-unstyled components" >
					<li class="form-inline my-0 my-lg-0">
						<a href="#"><i class="fa fa-align-justify"></i>全未読</a>
					</li>
					<li class="form-inline my-0 my-lg-0">
						<a href="#"><i class="fa fa-comments"></i>スレッド</a>
					</li>
					<li class="form-inline my-0 my-lg-0">
						<%= link_to "メンバーを招待する" , memberinvite_url, class: 'fa fa-plus-circle' %>
					</li>
					<li>
						<%= link_to "チャンネル" , channelcreate_url, class: 'fa fa-plus-circle' %>
						<div id="channellists">
						<% @m_channels.each do |m_channel| %>
							<ul class="countnumber">
							<% if m_channel.channel_status == true%>
								<li class="countnumberone">
									<%= link_to m_channel.channel_name, m_channel, class: 'fas fa-hashtag' %>
								</li>
								<% if m_channel.message_count > 0 %> 
									<li class="countnumbertwo">
										<%=  m_channel.message_count %>
									</li>
								<% end %> 
							<%  else %>
							
								<li class="countnumberone">
									<%= link_to m_channel.channel_name, m_channel , class: 'fa fa-lock'%>
								</li>
								<% if m_channel.message_count > 0 %> 
									<li class="countnumbertwo">
										<%=  m_channel.message_count %>
									</li>
								<% end %> 
							<%end%>
							</ul>
						<% end %>
						</div>
					</li>
					<li>
						<a href="#" class="channel">ダイレクトメッセージ</a>
						
							<li id="username">
								<%=  @m_user.name %> (自分)
							</li>
							
							<div id="userlists">
							<% @m_users.each do |m_user| %>
								<% if@m_user.id !=  m_user.id %>
								<ul class="countnumber">
									<li class="countnumberone">
									<%= link_to m_user.name, m_user %> 
									</li>
									<% if m_user.email != '0' %> 
										<li class="countnumbertwo">
										<%=  m_user.email %>
										</li>
									<% end %> 	
								</ul>
								<% end %>
							<% end %>
							</div>
					</li>                       
				</ul>
			 </nav>
		</div>
	</div>
</div>   

<div>