
<div id="main">
    <%= render 'direct_show/directmsglists' %>
    <div class="textbox">
        <%= form_for(:session, url: directmsg_path) do |f| %>
        <%= f.text_field :message, class: 'form-control', id: 'tags' %>
        <%= f.submit "Send", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
</div>
<div>
    <%= render 'leftpanel/leftpanel' %>
</div>



